.notifications {
  width: 60rem;

  margin: 4rem auto;
}

.notifications h3 {
  padding: 1rem 0 !important;
}

.activity-log {
  border: 0.8rem solid #000;
}

.activity-card {
  align-items: center;
  display: flex;
  grid-gap: 0.75rem;
  grid-template-columns: max-content max-content;
  padding: 0.75rem;
}

.user-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: contain;
  border: 2px solid purple;
}

.activity-post {
  width: 50px;
  height: 50px;
  display: block;
  margin-left: auto;
  border-radius: 5%;
}
