.notifications {
  width: 60rem;

  margin: 4rem auto;
}

.notifications h1 {
  padding: 1rem 0 !important;
  text-align: left;
}

.activity-log {
  border: 0.4rem solid black;
  /* overflow: scroll; */
}
.activity-log h2 {
  text-align: left;
  padding: 1rem 0;
  padding-left: 1rem;
}
.activity-log button {
  display: block;
  margin-left: auto;
  height: 1.5rem;
  width: 4.5rem;
}

.activity-card {
  align-items: center;
  display: flex;
  padding: 0.75rem;
}

.user-img {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  object-fit: contain;
  border: 2px solid purple;
}

.activity-post {
  width: 65px;
  height: 65px;
  display: block;
  margin-left: auto;
  border-radius: 5%;
}
@media screen and (max-width: 960px) {
  .notifications h1 {
    padding: 1rem 0 !important;
    margin-left: 1.5rem;
    text-align: left;
  }
  .activity-log {
    max-width: 408px;
    margin-left: 0;
    margin-right: 0;
  }
  .activity-log button {
    display: block;
    margin-left: auto;
    height: 1.5rem;
    width: 5rem;
  }
  .activity-card {
    align-items: center;
    display: flex;
    padding: 0.75rem;
  }
  .activity-post {
    width: 50px;
    height: 50px;
    display: block;
    margin-left: auto;
    border-radius: 5%;
  }
  .activity {
    font-size: 0.7rem;
    font-weight: 900;
  }
}