* {
    /* IMPORTANT */
  
    /* asterick (universal selector) is useful when you want to select all elements on the page. */
  
    margin: 0;
    padding: 0;
    font-family: georgia, sans-serif;
  }

.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  justify-content: space-around;
  grid-row-gap:0px;
  margin-left: -17px;
  margin-right: 15px;
}

.item {
  width: 100%;
  padding: 1rem;
}

.buttonContainer{
    display:flex;
}

.followButton{
    background-color: #0095f6;
    text-decoration: none;
    border-radius: 4px;
    color:white;
    border:none;
    margin-left: 1rem;
    width:63px;
    height:18px;
}

.messageButton{
    height:1%;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 1rem;
    background-color: transparent;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    width:63px;
    height:18px;

}

.suggestion{
    margin-left: 1rem;
    color: rgb(255, 255, 255);
    background-color: #0095f6;
    height: 17px;
    width:17px;
    border:none;
    border-radius:2px;
}

.posts{
    font-size: 10px;
    margin-left: 4px
}

.check{
    width: 25px;
    height: 23px;
    margin-top: -2px;
    vertical-align: super;
}

.numPosts{
    margin-left:-13px;
}

.numFollowing{
    margin-right: 86px;
}

.gridPosts{
    margin-left: -8px;
}

.grid{
    width: 12px;
    height: 12px;
    margin-left: 125px;
    position: relative;
    margin-bottom:-2px;
}

.bio{
    font-size: small;
    text-align: left;
}

.bioIr{
padding-bottom: 5px;
}

.bioHashtag{
    color:rgb(5, 128, 205);
}

.upArrow{
    width: 10px;
    height:10px;
}

.downArrow{
    width: 10px;
    height:10px;
}

.row {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    margin: 10px auto;
    max-width: 800px;
    background-color: transparent;
    padding:1rem;
  }

  .card{
    height:100%;
    text-decoration: none;
    border-radius: 4px;
    margin-left: 1rem;
    background-color: transparent;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
    width:100px;
    height:100px;
    padding-bottom: 1rem;
  }

  .card-image {
    height: 50%;
    text-align: center;
    padding-top: 1rem;
  }
  
  .card-image img {
    width: 45%;
    height: 95%;
  }
  
  .card-detail {
    background: white;
    font-size: 11px;
    text-align: center;
  }

  .suggestionImage{
    width: 64%;
    height: 85%;
    border-radius: 40px;
  }

  .suggestionRealName{
      color: rgb(145, 145, 145);
      margin-top: 2px;
  }

  .suggestionFollow{
    background-color: #0095f6;
    border-radius: 3px;
    color: white;
    border: none;
    width: 45px;
    height: 15px;
    margin-top: 5px;
  }

  .suggestionBorder{
    border-radius: 4px;
    border: 1px solid rgba(var(--ca6,219,219,219),1);
  }

  .suggestedText{
    color: rgb(145, 145, 145);
    position: absolute;
    font-size: 10px;
    margin-left: 33px;
    margin-top: 10px;
  }