* {
  /* IMPORTANT */
  /* asterick (universal selector) is useful when you want to select all elements on the page. */
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.gallery {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 25px;
  justify-content: space-around;
  grid-row-gap: 0px;
  margin: 0 auto;
}

.infoContainer{
  margin-left: 30px;
}
.buttonContainer {
  display: flex;
}
.followButton {
  background-color: #0095f6;
  text-decoration: none;
  border-radius: 4px;
  color: white;
  border: none;
  margin-left: 1rem;
  width: 63px;
  height: 18px;
}
.messageButton {
  height: 1%;
  text-decoration: none;
  border-radius: 4px;
  margin-left: 1rem;
  background-color: transparent;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  width: 85px;
  height: 27px;
}
.suggestion {
  margin-left: 1rem;
  color: rgb(255, 255, 255);
  background-color: #18b3b2;
  height: 25px;
  width: 25px;
  border: none;
  border-radius: 2px;
}
.posts {
  font-size: 17px;
  margin-left: 4px;
}
.check {
  width: 50px;
  height: 50px;
  margin-top: -10px;
  vertical-align: super;
}
.numPosts {
  margin-left: -13px;
}
.numFollowing {
  margin-right: 86px;
}

.grid {
  width: 20px;
  height: 20px;
  position: relative;
  margin-bottom: -2px;
}
.bio {
  font-size: small;
  text-align: left;
}
.bioIr {
  padding-bottom: 5px;
  font-size: 18px;
}
.bioHashtag {
  color: rgb(5, 128, 205);
  font-size: 18px;
}
.upArrow {
  width: 10px;
  height: 10px;
  background: transparent;
}
.downArrow {
  width: 10px;
  height: 10px;
  background: transparent;
}
.row {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 10px auto;
  max-width: 800px;
  background-color: transparent;
  padding: 1rem;
}
.card {
  text-decoration: none;
  border-radius: 4px;
  margin-left: 1rem;
  background-color: transparent;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  width: 165px;
  height: 150px;
  padding-bottom: 1rem;
  transition-duration: 0.5s;
}
.card:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
.card-image {
  height: 50%;
  text-align: center;
  padding-top: 1rem;
}
.card-image img {
  width: 40%;
  height: 120%;
}
.card-detail {
  background: none;
  font-size: 11px;
  text-align: center;
  padding-top: 15px;
}
.suggestionImage {
  width: 64%;
  height: 85%;
  border-radius: 40px;
}
.suggestionRealName {
  color: rgb(145, 145, 145);
  margin-top: 2px;
}

.nameOfSuggestion {
  padding-bottom: 4px;
}

.suggestionFollow {
  background-color: #18b3b2;
  border-radius: 3px;
  color: white;
  border: none;
  width: 70px;
  font-size: 14px;
  height: 25px;
  margin-left: 5px;
}
.suggestionFollowing {
  background-color: #da61da;
  border-radius: 3px;
  color: white;
  border: none;
  width: 70px;
  font-size: 14px;
  height: 25px;
  margin-top: 1px;
  margin-left: 5px;
}
.suggestionBorder {
  border-radius: 4px;
  border: 1px solid rgba(var(--ca6, 219, 219, 219), 1);
  width: fit-content;
}
.suggestedText {
  color: rgb(145, 145, 145);
  position: absolute;
  font-size: 10px;
  margin-left: 33px;
  margin-top: 10px;
}
.bioFollowed {
  font-size: 13px;
  padding-top: 4px;
}
.bioFollowedBy {
  color: rgb(145, 145, 145);
}

.profileImage {
  width: 350px;
  height: 350px;
  padding: 1rem;
  border-radius: 1.5rem;
  transition-duration: 0.5s;
  margin-bottom: 30px;
}
.profileImage:hover {
  transform: scale(1.1);
  transition-duration: 0.5s;
}
@media screen and (max-width: 960px) {
  .profileImage {
    width: 100px;
    height: 100px;
    padding: .5rem;
    border-radius: 1.5rem;
    transition-duration: 0.5s;
    margin: 0 auto;
  }

}
