* {
  margin: 0;
  padding: 0;
}

.navbar {
  display: flex;
  align-items: center;
  padding-left: 150px;
  padding-right: 150px;
  padding-top: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgrey;
  justify-content: space-between;
}

.navbar_logo {
  height: 35px;
}

.navbar_search {
  padding: 10px;
  border-radius: 5px;
  background-color: lightgray;
  width: 250px;
  height: 22px;
}

.search {
  display: flex;
  align-items: center;
}

.search_icon {
  color: grey;
  margin: 0px 5px;
}

.search_input {
  outline: 0;
  border: none;
  background-color: transparent;
}

.navbar_icons {
  display: flex;
  align-items: center;
}

.nav_icon {
  margin-left: 10px;
  font-size: 28px;
}

.send_icon {
  transform: rotate(-35deg);
  margin-top: -8px;
  margin-left: 0px;
}

.avatar {
  margin-left: 20px;
}

/* Footer CSS */

.site-footer {
  background-color: #26272b;
  padding: 0px 0 0px;
  font-size: 15px;
  line-height: 24px;
  color: #737373;
}

.col-1 {
  text-align: left;
  padding-left: 50px;
  padding-top: 20px;
}

.col-2 {
  text-align: left;
  padding-left: 50px;
  padding-bottom: 20px;
  padding-top: 20px;
}

.site-footer hr {
  border-top-color: #bbb;
  opacity: 0.5;
}

.site-footer hr.small {
  margin: 20px 0;
}

.site-footer h6 {
  color: lightblue;
  font-size: 16px;
  text-transform: uppercase;
  margin-top: 5px;
  letter-spacing: 2px;
}

.site-footer a {
  color: #737373;
}

.site-footer a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links {
  padding-left: 0;
  list-style: none;
  align-items: center;
}

.footer-links li {
  display: inline-block;
}

.footer-links a {
  color: #737373;
}

.footer-links a:active,
.footer-links a:focus,
.footer-links a:hover {
  color: #3366cc;
  text-decoration: none;
}

.footer-links.inline li {
  display: inline-block;
}

.site-footer .social-icons {
  text-align: right;
  padding-right: 100px;
}

.site-footer .social-icons a {
  width: 40px;
  height: 40px;
  line-height: 40px;
  margin-left: 6px;
  margin-right: 0;
  border-radius: 100%;
  background-color: #3b5998;
}

.copyright-text {
  margin: 0;
}

@media (max-width: 991px) {
  .site-footer [className^="col-1"] {
    margin-bottom: 30px;
  }
}

@media (max-width: 767px) {
  .site-footer {
    padding-bottom: 0;
  }
  .site-footer .copyright-text,
  .site-footer  {
    text-align: center;
  }
}

.copyRight{
    padding-top: 10px;
}




