.searchBar {
    margin-top: 80px;
    border-radius: 15px;
    width: 250px;
    padding: 5px;
    margin-bottom: 100px;
  }
.post {
    max-width: 400px;
    background-color: #fff;
    border: 1px solid lightgray;
    margin-bottom: 45px;
    display: inline-block;
    margin-left: 25px;
    margin-right: 25px;
    
}
.post_image {
    width: 100%;
    height: 270px;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    background-color: black;
}
.post_text {
    font-weight: normal;
    padding: 20px;

}
.post:hover {
    box-shadow: 0 5px 5px 0 rgb(32, 39, 42);
}
.post_header {
    display: flex;
    align-items: center;
    padding: 10px;
}
.post_avatar {
    margin-right: 10px;
    border: 2px;
    border: 2px solid rgb(250, 93, 20);
    height: 40px;
    width: 40px;
    border-radius: 100%;
    object-fit: cover;
}

@media screen and (max-width: 960px) {
    .post {
        max-width: 130px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: 0;
    }
    .post_image {
        width: 100%;
        height: 90px;
        object-fit: contain;
    }
    .post_header {
        display: none;
    }
    .post_text {
        display: none;
    }
}
